name: Clang-Format Fix
run-name: "${{ github.actor }} fixing code format"

on:
  issue_comment:
    types:
      - created

permissions:
  pull-requests: write
  contents: write

jobs:
  parse-command:
    runs-on: ubuntu-latest
    name: Parse bot command
    if: >
      github.event.issue.pull_request &&
      startsWith(github.event.comment.body, '@phlexbot format')
    outputs:
      ref: ${{ steps.get_pr.outputs.ref }}
      sha: ${{ steps.get_pr.outputs.sha }}
      repo: ${{ steps.get_pr.outputs.repo }}

    steps:
      - name: Get PR Info
        id: get_pr
        uses: Framework-R-D/phlex/.github/actions/get-pr-info@main

  apply_formatting:
    runs-on: ubuntu-latest
    name: Apply formatting
    needs: parse-command
    if: ${{ needs.parse-command.result == 'success' }}
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          path: phlex-src
          ref: ${{ needs.parse-command.outputs.ref }}
          repository: ${{ needs.parse-command.outputs.repo }}
          token: ${{ secrets.WORKFLOW_PAT }}

      - uses: DoozyX/clang-format-lint-action@bcb4eb2cb0d707ee4f3e5cc3b456eb075f12cf73 # v0.20
        with:
          source: "./phlex-src"
          clangFormatVersion: 20
          inplace: True
          extensions: cpp,hpp,cpp.in,hpp.in

      - name: Handle fix commit
        uses: ./phlex-src/.github/actions/handle-fix-commit
        with:
          tool: clang-format
          working-directory: phlex-src
          token: ${{ secrets.WORKFLOW_PAT }}
          pr-info-ref: ${{ needs.parse-command.outputs.ref }}
          pr-info-repo: ${{ needs.parse-command.outputs.repo }}
