name: CMake Format Fix
run-name: '${{ github.actor }} fixing CMake format'

on:
  issue_comment:
    types:
      - created

permissions:
  pull-requests: write
  contents: write

jobs:
  parse-command:
    runs-on: ubuntu-latest
    name: Parse bot command
    if: >
      github.event.issue.pull_request &&
      startsWith(github.event.comment.body, '@phlexbot format')
    outputs:
      ref: ${{ steps.get_pr.outputs.ref }}
      sha: ${{ steps.get_pr.outputs.sha }}
      repo: ${{ steps.get_pr.outputs.repo }}

    steps:
      - name: Get PR Info
        id: get_pr
        uses: Framework-R-D/phlex/.github/actions/get-pr-info@main

  apply_cmake_formatting:
    runs-on: ubuntu-latest
    name: Apply CMake formatting
    needs: parse-command
    if: ${{ needs.parse-command.result == 'success' }}
    steps:
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          path: phlex-src
          ref: ${{ needs.parse-command.outputs.ref }}
          repository: ${{ needs.parse-command.outputs.repo }}
          token: ${{ secrets.WORKFLOW_PAT }}

      - name: Set up Python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: '3.x'

      - name: Install gersemi
        run: pip install gersemi

      - name: Apply CMake formatting
        run: |
          echo "Applying CMake formatting..."
          gersemi -i phlex-src

      - name: Handle fix commit
        uses: ./phlex-src/.github/actions/handle-fix-commit
        with:
          tool: cmake-format
          working-directory: phlex-src
          token: ${{ secrets.WORKFLOW_PAT }}
          pr-info-ref: ${{ needs.parse-command.outputs.ref }}
          pr-info-repo: ${{ needs.parse-command.outputs.repo }}
