name: Jsonnet Format Fix
run-name: "${{ github.actor }} fixing jsonnet format"

on:
  issue_comment:
    types:
      - created
  workflow_dispatch:
    inputs:
      ref:
        description: "The branch, ref, or SHA to checkout. Defaults to the repository's default branch."
        required: false
        type: string
  workflow_call:
    inputs:
      checkout-path:
        description: "Path to check out code to"
        required: false
        type: string
      ref:
        description: "The branch or ref to checkout"
        required: true
        type: string
      repo:
        description: "The repository to checkout from"
        required: true
        type: string

permissions:
  pull-requests: write
  contents: write

env:
  local_checkout_path: ${{ (github.event_name == 'workflow_call' && inputs.checkout-path) || format('{0}-src', github.event.repository.name) }}

jobs:
  pre-check:
    runs-on: ubuntu-latest
    name: Parse command
    if: >
      github.event_name == 'workflow_dispatch' ||
      (
        github.event_name == 'issue_comment' &&
        github.event.issue.pull_request &&
        (
          startsWith(github.event.comment.body, '@phlexbot format') ||
          startsWith(github.event.comment.body, format('@{0}bot format', github.event.repository.name)) ||
          startsWith(github.event.comment.body, '@phlexbot jsonnet-format-fix') ||
          startsWith(github.event.comment.body, format('@{0}bot jsonnet-format-fix', github.event.repository.name))
        )
      )
    outputs:
      ref: ${{ (github.event_name == 'workflow_dispatch' && (github.event.inputs.ref || github.ref)) || steps.get_pr.outputs.ref }}
      repo: ${{ steps.get_pr.outputs.repo || github.repository }}

    steps:
      - name: Get PR Info
        if: github.event_name == 'issue_comment'
        id: get_pr
        uses: Framework-R-D/phlex/.github/actions/get-pr-info@main

  apply_formatting:
    runs-on: ubuntu-latest
    name: Apply formatting
    needs: pre-check
    if: github.event_name == 'workflow_call' || needs.pre-check.result == 'success'
    container:
      image: public.ecr.aws/bitnami/jsonnet:latest
      options: --user root

    steps:
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          path: ${{ env.local_checkout_path }}
          ref: ${{ (github.event_name == 'workflow_call' && inputs.ref) || needs.pre-check.outputs.ref }}
          repository: ${{ (github.event_name == 'workflow_call' && inputs.repo) || needs.pre-check.outputs.repo }}
          token: ${{ secrets.WORKFLOW_PAT }}

      - name: Run jsonnetfmt
        id: lint
        working-directory: ${{ env.local_checkout_path }}
        run: |
          find . \( -name "*.jsonnet" -o -name "*.jsonnet.in" -o -name "*.libsonnet" -o -name "*.libsonnet.in" \) -exec jsonnetfmt -i {} +
        continue-on-error: true

      - name: Handle fix commit
        uses: Framework-R-D/phlex/.github/actions/handle-fix-commit@main
        with:
          tool: jsonnet-format
          working-directory: ${{ env.local_checkout_path }}
          token: ${{ secrets.WORKFLOW_PAT }}
          pr-info-ref: ${{ (github.event_name == 'workflow_call' && inputs.ref) || needs.pre-check.outputs.ref }}
          pr-info-repo: ${{ (github.event_name == 'workflow_call' && inputs.repo) || needs.pre-check.outputs.repo }}
